

.thumb {
    margin-bottom: 30px;
}



.portrait{
max-width:100%;

}

.page-header {

	text-align: center;

}

body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.carousel-item {
    height: 65vh;
    min-height: 100%;
    min-width: 100%;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
}

.portfolio-item {
    margin-bottom: 30px;
}


a.darken {
    padding: 0;
	display: inline-block;
	background: black;
	overflow:hidden;
}

a.darken img {
    display: block;

    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

a.darken:hover img {
    opacity: 0.6;

}
a.darken:hover p{
  visibility: visible;
  opacity: 1;
}


a.darken p{
  position: absolute;
  text-align: center;
  top: 0;
  left: 8%;
  color:#fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;

visibility: hidden;
opacity: 0;
}

p {
	font-family: 'Lato', sans-serif !important; 
}

.linkedin{

	float:right;
    width:25px;
	height:25px;
	display:inline-block;

}

.description
{
	max-width:100%;
}

.nameD{
	display:inline-block;

}



.my-4{
	text-align: center;
}

.my-5{

text-align: left;

}

.logo_fp{
	max-width:100%;
	max-height:100%;
}
.footer_icon{
     color: #333;

}

footer {
  padding: 50px 0 65px;
}
footer .list-inline {
  margin: 0;
  padding: 0;
 display: block;
}
footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}
.list-inline li{
    display: inline-block;
    padding-right: 5px;
     padding-left: 5px;

}

.imgDescription {

 overflow-x:hidden;
 max-width: 85%;
 max-height: 65%;
 overflow: auto;
 margin: 0 auto;
 text-align: center;
 

}

.imgDescription::-webkit-scrollbar {
display: none;

}

.team_info {
max-width:100%;
max-height:250px;

}

.teamrow{
	margin-top: 30px;

}

.map {
	margin-top: 20px;

}

.navbar-inner {
    background:transparent !important;
}


.posts{
list-style-type:none;

}




.intro-header {
  padding-top: 100px;
  padding-bottom: 60px;
  text-align: center;
  color: #f8f8f8;
  background: url(../images/group_photo/team.jpg) no-repeat center center;
  background-size: cover;
  margin: px 10px 0px 100px;
}


.intro-header2 {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  height:45%;
  background-color:#000;
  opacity:0.5;
  background: url(../images/stock_photos/school.jpg) no-repeat center center;
  background-size: cover;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.intro-message>h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 5em;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message>h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media(max-width:767px) {
  .intro-message {
    padding-bottom: 15%;
  }
  .intro-message>h1 {
    font-size: 3em;
  }
  ul.intro-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.intro-social-buttons>li:last-child {
    margin-bottom: 0;
  }
  .intro-divider {
    width: 100%;
  }
}


#teamlogo{
height:35px;
width: 30px;

}



.form__container {
  background: #fff;
  margin: 0 auto;
  margin-top: 16px;
  padding: 32px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}


@media (max-width: 767px) {
  .form__container {
    margin: 0;
    padding: 16px;
  }
}


.post-preview > li > a {
  color: #333333; }
  .post-preview >  li> a:focus, .post-preview > li> a:hover {
    text-decoration: none;
    color: #0085A1; }
  .post-preview > li > a > .post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px; }
  .post-preview > li > p > .post-subtitle {
    font-weight: 300;
    margin: 0 0 10px; }
    
  .post-preview > li:after 
  {
    content: "";
    display: block;
    height: 1px;
    opacity: 0.5;
    width: 100%;
    background: #39CCCC;
  }

.post-preview > li >.post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #777777; }
  .post-preview >  li >.post-meta > a {
    text-decoration: none;
    color: #333333; }
    .post-preview > li > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
      text-decoration: underline;
      color: #0085A1; }

@media only screen and (min-width: 768px) {
  .post-preview > li > a > .post-title {
    font-size: 36px; } }
    
.namelist > li 
{
	display: inline;
	
}

.namelist
{
margin: 0; padding: 0;

}

.namelist li:before {
	content: '\00a0\2022\00a0\00a0';
	color:#999;
	color:rgba(0,0,0,0.5);
	font-size:11px;
}
.namelist li:first-child:before {
	content: '';
}

li.dropdown:hover > .dropdown-menu {
    display: block;
}


.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}

.team-header {
margin-top: 5px;

}

.bottomhr {

margin-top: 10px;

}

.img-center {margin:0 auto;}


.bluetextcolor

{
	color: #428bca;
	
}

.img-mechanical
{
	width: 100%;
}
