

.thumb {
    margin-bottom: 30px;
}



.portrait{
max-width:100%;

}

.page-header {

	text-align: center;

}

body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.carousel-item {
    height: 65vh;
    min-height: 100%;
    min-width: 100%;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
}

.portfolio-item {
    margin-bottom: 30px;
}


a.darken {
    padding: 0;
	display: inline-block;
	background: black;
	overflow:hidden;
}

a.darken img {
    display: block;

    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

a.darken:hover img {
    opacity: 0.6;

}
a.darken:hover p{
  visibility: visible;
  opacity: 1;
}


a.darken p{
  position: absolute;
  text-align: center;
  top: 0;
  left: 8%;
  color:#fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;

visibility: hidden;
opacity: 0;
}

p {
	font-family: 'Lato', sans-serif !important; 
}

.linkedin{

	float:right;
    width:25px;
	height:25px;
	display:inline-block;

}

.description
{
	max-width:100%;
}

.nameD{
	display:inline-block;

}



.my-4{
	text-align: center;
}

.my-5{

text-align: left;

}

.logo_fp{
	max-width:100%;
	max-height:100%;
}
.footer_icon{
     color: #333;

}

footer {
  padding: 50px 0 65px;
}
footer .list-inline {
  margin: 0;
  padding: 0;
 display: block;
}
footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}
.list-inline li{
    display: inline-block;
    padding-right: 5px;
     padding-left: 5px;

}

.imgDescription {

 overflow-x:hidden;
 max-width: 85%;
 max-height: 65%;
 overflow: auto;
 margin: 0 auto;
 text-align: center;
 

}

.imgDescription::-webkit-scrollbar {
display: none;

}

.team_info {
max-width:100%;
max-height:250px;

}

.teamrow{
	margin-top: 30px;

}

.map {
	margin-top: 20px;

}

.navbar-inner {
    background:transparent !important;
}

 body { background: #fffef3 !important;

 } 

.posts{
list-style-type:none;

}



