

.thumb {
    margin-bottom: 30px;
}



.portrait{
max-width:100%;

}

.page-header {

	text-align: center;

}

body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.carousel-item {
    height: 65vh;
    min-height: 100%;
    min-width: 100%;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
}

.portfolio-item {
    margin-bottom: 30px;
}


a.darken {
    padding: 0;
	display: inline-block;
	background: black;
}

a.darken img {
    display: block;

    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

a.darken:hover img {
    opacity: 0.6;

}
a.darken:hover p{
  visibility: visible;
  opacity: 1;
}


a.darken p{
  position: absolute;
  text-align: center;
  line-height:200px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color:#fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;

visibility: hidden;
opacity: 0;
}

p {
	font-family: 'Lato', sans-serif !important; 
}

.linkedin{

	float:right;
    width:25px;
	height:25px;
	display:inline-block;

}

.description
{
	max-width:100%;
}

.nameD{
	display:inline-block;

}

.footerbot{
	border-top: 1px solid #d5d5d5;
	font-size: .8em;
	margin-top: 50px;

}
.footerbot ul{
	margin-top: 2px;
	list-style:none;
	font-weight:bold;
    text-align:center; 
	float:none;
}
.footerli{
		display: inline;
}

.my-4{
	text-align: center;
}

.logo_fp{
	max-width:100%;
	max-height:100%;
}
