
.intro-header-team {
  padding-top: 100px;
  padding-bottom: 60px;
  text-align: center;
  color: #f8f8f8;
  background: url(../images/group_photo/team.jpg) no-repeat center center;
  background-size: cover;
  margin: px 10px 0px 100px;
}

.wide {
    width : 1200px;
    max-width: 95%;
    margin: 0 auto;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;        
        
}

