<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
	<meta name="keywords" content="UC Irvine, Irvine,Solar Car,Team,Join,Mechanical,Engineering,
Electrical,Sponsor,Project,Senior,Dank,Memes,Energy,Interest,Contact, uc irvine solar car, uc irvine, uci solar car,uci,uci team,uci mae 189,energy,renewable,how to join,email,contact">
    
    <link rel="stylesheet" type="text/css" href="{{site.url}}/css/main.css">

	<!---   Lato font     -->
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	  
	  
	 
	      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	  
	  
	  
	      <!-- Bootstrap core CSS -->
    <link href="{{site.url}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


	<!---fa fa fonts  --->
	<link href="{{site.url}}/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom fonts
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	-->
	  
	  
	<!---- Lightbox css --> 
<link href="{{site.url}}/css/lightbox.css" rel="stylesheet">
	  
	      <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    /* Temporary fix for img-fluid sizing within the carousel */
    
    .carousel-item.active,
    .carousel-item-next,
    .carousel-item-prev {
        display: block;
    }
    </style>

	
  
  </head>


  <body>





    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="/">UC Irvine Solar Car</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Car">Car</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Blog">Blog</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="/Sponsors">Sponsors</a>
                    </li>
				    <li class="nav-item">
                        <a class="nav-link" href="/Join">Join</a>
                    </li>
				    <li class="nav-item">
                        <a class="nav-link" href="/Donate">Donate</a>
                    </li>
				    <li class="nav-item">
                        <a class="nav-link" href="/Contact">Contact</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


  {{ content }}

</div>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/tether/tether.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

   <!---- Lightbox js --->
   <script src="js/lightbox.min.js"></script>


	<!---- Image load order -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="http://ucirvinesolarcar.com/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="http://ucirvinesolarcar.com/js/jquery.imageorder.js"></script>
        
        <script>
			$(document).ready(function() {
				$(document).imageOrder(".img-postload");
			});
        </script>

 

<hr>

<!--- footer --> 
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-inline text-center">
                        <li>
                            <a class="footer_icon"  href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted"> &copy; 2017 The Henry Samueli School of Engineering
University of California, Irvine</p>
                </div>
            </div>
        </div>
    </footer>

  </body>

</html>
