<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="{{site.url}}/css/main.css">

	<!---   Lato font     -->
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	  
	  
	 
	      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	  
	  
	  
	      <!-- Bootstrap core CSS -->
    <link href="{{site.url}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	-->
	  
	  
	  
	  
	      <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    /* Temporary fix for img-fluid sizing within the carousel */
    
    .carousel-item.active,
    .carousel-item-next,
    .carousel-item-prev {
        display: block;
    }
    </style>

	
  
  </head>


  <body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="/">UCI Solar Car</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Car">Car</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Blog">Blog</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="/Sponsors">Sponsors</a>
                    </li>
				    <li class="nav-item">
                        <a class="nav-link" href="/Contact">Contact</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


  {{ content }}

</div>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/tether/tether.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  
    <div class="footerbot">
         <ul>
   <li><a href="mailto:ucirvinesolarcar@gmail.com"><image class = "footericon" src = "../images/logos/email.png"></a></li>
   <li><a href="#"><image class = "footericon" src = "../images/logos/facebook.png"></a></li>
	<li><a href="#"><image class = "footericon" src = "../images/logos/instagram.png"></a></li>
   </ul>
    </div>

  </body>

</html>
