<!DOCTYPE html>
<html lang="en">
    <head>
        <!--
        <title>{{ page.title }}</title> -->
        <!--
        <meta name="keywords" content="UC Irvine, Irvine,Solar Car,Team,Join,Mechanical,Engineering,
                                       Electrical,Sponsor,Project,Senior,Dank,Memes,Energy,Interest,Contact, uc irvine solar car, uc irvine, uci solar car,uci,uci team,uci mae 189,energy,renewable,how to join,email,contact">

        <link rel="stylesheet" type="text/css" href="{{site.url}}/css/main.css">
        <link rel = "stylesheet" type = "text/css" href = "{{site.url}}/Team/css/main.css">
    --> <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>UC Irvine Solar Car</title>
        <link rel="stylesheet" href="../css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.css" />
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/animate.css">
        
        <!---   Lato font     -->
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

        <!--- emoji -->
        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">


        <!--- tabs --->
        <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.css" />
        <link rel="stylesheet" href="css/style.css">

        <!--- tabs exclude 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

-->

        <!--

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    -->

        
        <!--

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet"/>
    -->
        <!--    <link href="{{site.url}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">  -->

        <!---fa fa fonts  --->
        <link href="{{site.url}}/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- Custom fonts
<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
-->

        <!-- Lightbox css --> 
        <!-- 
        <link href="{{site.url}}/css/lightbox.css" rel="stylesheet">
        -->
        <!-- Temporary navbar container fix -->
        <!--
        <style>
            .navbar-toggler {
                z-index: 1;
            }

            @media (max-width: 576px) {
                nav > .container {
                    width: 100%;
                }
            }
            /* Temporary fix for img-fluid sizing within the carousel */

            .carousel-item.active,
            .carousel-item-next,
            .carousel-item-prev {
                display: block;
            }
        </style>
    -->



    </head>


    <body>




        <!-- Navigation  -->
        <nav class="navbar navbar-expand-sm navbar-light bg-dark fixed-top">
            <div class="container">
                <a href="/" class="navbar-brand text-secondary">
                    <img style="height: 40px; width: 40px;" src="http://ucirvinesolarcar.com/images/logos/teamlogo.png" class="d-inline-block al">UC Irvine Solar Car
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link text-secondary">Home</a></li>
                        <li class="nav-item">
                            <a href="/Mechanical" class="nav-link text-secondary">Mechanical</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Electrical" class="nav-link text-secondary">Electrical</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Team" class="nav-link text-secondary">Team</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Progress" class="nav-link text-secondary">Progress</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link text-secondary dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sponsor
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="/Sponsors" class="dropdown-item">Our Sponsors</a>
                                <a href="/SponsorApp" class="dropdown-item">
                                    Become Our Sponsor!
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="/Contact" class="nav-link text-secondary">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.gofundme.com/SolEaters" class="nav-link text-secondary">Donate</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>



        {{ content }}




        </div>



    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script> -->

    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/wow.js"></script>
    <script>
        new WOW().init();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.js"></script>
    <script src="js/main.js"></script>



    <!---
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/tether/tether.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

-->


    <!---- Lightbox js --->
    <script src="js/lightbox.min.js"></script>





    <!- footer --> 

    <footer class="footer">
        <div class="container">
            <span class="text-muted">
                    © 2018 The Henry Samueli School of Engineering University of California, Irvine.
            </span>
        </div>
    </footer>

    <!--
    <footer class="bg-inverse top-buffer">
        <div class="navbar navbar-inverse bg-inverse navbar-fixed-bottom" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <div class="container">
                        <div class="row  ">
                            <div class="col-sm-12">
                                <ul class="list-inline text-center">
                                    <li>
                                        <a class="footer_icon"  href="https://www.facebook.com/SolEaters-UC-Irvine-Solar-Car-Team-866371140182782/">
                                            <span class="fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-2x"></i>
                                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                                <p class="copyright text-muted"> &copy; 2017 The Henry Samueli School of Engineering
                                    University of California, Irvine.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    -->

    <!---	
<footer class="bg-dark">
<div class="container">
<div class="row  ">
<div class="col-sm-12">
<ul class="list-inline text-center">
<li>
<a class="footer_icon"  href="https://www.facebook.com/SolEaters-UC-Irvine-Solar-Car-Team-866371140182782/">
<span class="fa-stack fa-lg">
<i class="fa fa-circle fa-stack-2x"></i>
<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
</span>
</a>
</li>
</ul>
<p class="copyright text-muted"> &copy; 2017 The Henry Samueli School of Engineering
University of California, Irvine.</p>
</div>
</div>
</div>
</footer>

--->

    </body>

</html>
